*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  background-color: #525252;
  color: #1f2933;
}

#navbar {
  background-color: #020617;
  padding: 0px 0px;
}

#navList {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navList li {
  color: #ede3ed;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding: 6px 2px;
  transition: color 0.25s ease;
}

#navList li:hover {
  color: #e7e8ebfa;
}

#navList li.active {
  color: #60a5fa;
}

#navList li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #60a5fa;
  border-radius: 2px;
}

/* =============================
   HAMBURGER BASE
============================= */

#hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1001;
}

#hamburger span {
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Animate to X */
#hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#hamburger.active span:nth-child(2) {
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* =============================
   MOBILE SIDEBAR
============================= */

@media (max-width: 768px) {
  #navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  #hamburger {
    display: flex;
  }

  #navList {
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    width: 260px;
    background: #0f172a;
    flex-direction: column;
    padding: 100px 25px;
    gap: 25px;
    transition: left 0.35s ease;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.4);
  }

  #navList.show {
    left: 0;
  }

  #navList li {
    color: white;
    font-size: 18px;
  }

  /* Push content smoothly */
  #app {
    transition: margin-left 0.35s ease;
  }

  body.menu-open #app {
    margin-left: 260px;
  }
}
