.student-courses h2 {
  margin-bottom: 20px;
  background-color: black;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.course-card {
  background: rgb(8, 5, 5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.course-card h3 {
  margin-bottom: 10px;
}

.course-card p {
  font-size: 14px;
  margin-bottom: 15px;
}

.course-card button {
  padding: 8px 12px;
  background: #25eb9c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.course-card button:hover {
  background: #1d4ed8;
}

.material-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* This puts buttons vertically */
  gap: 8px;
}

.material-buttons a {
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.open-btn {
  background-color: #3498db;
}

.download-btn {
  background-color: #2ecc71;
}

.material-buttons a:hover {
  opacity: 0.85;
}
