/* Completely isolate student system */
.student-root {
  all: unset;
  display: block;
  font-family: Arial, sans-serif;
}

/* Layout */
.student-layout {
  display: flex;
  min-height: 100vh;
  background: #021120;
}

/* Sidebar */
.student-sidebar {
  width: 250px;
  background: #0449b9;
  color: white;
  padding: 20px;
}

.student-sidebar ul {
  list-style: none;
  padding: 0;
}

.student-sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.student-sidebar li:hover {
  background: #1a2330;
}

.student-sidebar .logout {
  background: #dc2626;
}

/* Main */
.student-main {
  flex: 1;
  padding: 30px;
  background: #78350f;
}

/* Dashboard */
.student-dashboard {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

/* Cards */
.student-summary-cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.summary-card {
  flex: 1;
  background: rgb(107, 13, 13);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
